<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="<%= baseUrl -%>.well-known/css/styles/main.css?v=8" type="text/css">
  <script type="text/javascript" src="<%= baseUrl -%>.well-known/css/scripts/util.js?v=7"></script>
</head>

<body>
  <header>
    <a href="<%= baseUrl %>"><img src="<%= baseUrl -%>.well-known/css/images/muenchen.svg" alt="[Solid logo]" /></a>
    <h1>M-Pod Server</h1>
  </header>
  <main>
    <%- htmlBody %>
  </main>
</body>

</html>